
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
}
body{
 background-color: white;
}

.left{
 width: 25vw;

    padding-top: 10px;
    padding-left: 8px;
}

.right{
   width: 75vw;
    position: relative;

    margin-top: 10px;
}
.home ul li{
    display: flex;
    gap: 15px;
    width: 34px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    align-items: center;
}
.heading{

    display: flex;
    gap: 15px;
    width: 100%;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
   
    padding: 23px 14px;
    font-size: 12px;

}
.bg-black{
    background-color: black;
    color: white;
}
.invert{
    filter: invert(1);
    height: 20px;
}
.logo{
    width: 100px;
}
.home{
    padding: 10px;
}
.bg-grey{
    background-color: rgb(8, 8, 8);
}

.footer{
    display: flex;
    font-size: 10px;
    color: grey;
    gap:13px;
    position: absolute ;
    bottom: 0;
    padding:10px;

}
.footer a{
    color:grey;

}
.spotifyPlaylists{
    font-family: "Roboto", sans-serif;
    padding: 16px;
    
}
.cardContainer{
    margin: 30px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-left: 30px;
    overflow-y: scroll;
    max-height: 70vh;
}
  .card{
    width: 180px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
    
    
}
.card > *{
    padding-top: 10px;
    
}
.card img{
    width: 100%;
    object-fit: contain;
}
.play{
    width: 50;
    height: 50;
    fill: none;
    position: absolute;
   
    top:130px;
    right: 17px;
    size: 10px;
    border-radius:50%;
    opacity: 0;
    transition: all 1s ease-out;
    
   
}
.signupbtn{
    background-color:rgb(20,20,20);
    font-weight: bold;
    color: rgb(156, 148, 148);
    border: none;
    outline: none;
  cursor: pointer;
  font-size: 16px;
 

}
.signupbtn:hover{
    font-size: 17px;
    color: white;
}
.loginbtn{
    background-color: white;
    font-family: "Roboto", sans-serif;
    color: black;
    border-radius: 21px;
   
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
  width: 79px;
  cursor: pointer;
}
.loginbtn:hover{
    font-weight: bold;
  font-size: 17px;
    
}
.playbar{
    position: absolute;
    bottom: 0;
    background-color: rgb(139, 193, 139);
    width: 100%;
    padding: 12px;

}
.songbuttons{
    display: flex;
    justify-content: center;
}