
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
}
body{
 background-color: white;
}

.left{
 width: 25vw;
 padding: 10px;
}

.right{
    width: 75vw;
}
.home ul li{
    display: flex;
    gap: 15px;
    width: 34px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    align-items: center;
}
.heading{

    display: flex;
    gap: 15px;
    width: 100%;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
   
    padding: 23px 14px;
    font-size: 12px;

}
.bg-black{
    background-color: black;
    color: white;
}
.invert{
    filter: invert(1);
    height: 20px;
}
.logo{
    width: 100px;
}
.home{
    padding: 10px;
}
.bg-grey{
    background-color: rgb(8, 8, 8);
}
.rounded{
    border-radius: 7px;
}
.m-1{
    margin: 5px;
}
.p-1{
    padding: 0px;
}
.footer{
    display: flex;
    font-size: 10px;
    color: grey;
    gap:13px;
    position: absolute ;
    bottom: 0;
}
.footer a{
    color:grey;
}
.spotifyPlaylists{
    font-family: "Roboto", sans-serif;
    padding: 16px;
}
.cardContainer{
    margin: 30px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin-left: 20px;
}
  .card{
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
    
}
.card > *{
    padding-top: 10px;
    
}
.card img{
    width: 100%;
    object-fit: contain;
}
.play{
    width: 50;
    height: 50;
    fill: none;
    position: absolute;
    top:150px;
    right: 17px;
    size: 16px;
   
}