
.border{
    
    margin-top: 15px;
    margin-left: 0px;
}
.flex{
    display: flex;
}
    

.justify-center{
    justify-content:center;
}
.itmes-center{
    align-items: center;
}
.library{
    font-family: "Roboto", sans-serif;
    min-height: 80vh;
    position: relative;
}
.header{
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    background-color: rgb(22 20 20);;
}
.buttons{
    margin-top: 10px;
}
.header > *{
padding: 10px;
}

