
.border{
    border: 2px solid red;
    margin: 2px;
}
.flex{
    display: flex;
}
    

.justify-center{
    justify-content:center;
}
.itmes-center{
    align-items: center;
}
.library{
    font-family: "Roboto", sans-serif;
    min-height: 60vh;
}
